.container {
    width: 400px;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.item {
    align-self: flex-end;
    width: 100%;
}

.green {
    background-color: #51D400;
    flex-grow: 1;
    order: 1;
}

.yellow {
    background-color: #FFD62A;
    flex-grow: 2;
    order: 3;
}

.purple {
    background-color: #B02AFF;
    flex-grow: 1;
    order: 2;
}