body {
    display: block;
    background-color: #EBEBEB;
}

#container {
    display: block;
    margin: 10% auto;
    padding: 60px;
    background-color: white;
    width: 385px;
    height: 385px;
}

.fields {
    margin-bottom: 30px;
}

h1 {
    display: block;
    margin: 0px auto 40px auto;
}

form {
    margin: 0px auto;
    display: block;
    align-self: center;
}

label {
    margin: 1em 0px 1em 0px;
    display: block;
    font-size: 10px;
}

input {
    display: block;
    margin: 0;
    height: 35px;
    width: 100%;
    font-size: 30px;
}

input:focus {
    outline-color: #79d279;
}

a {
    display: block;
    font-size: 10px;
    margin-top: 10px;
    margin-left: auto;
    width: 75px;
}

button {
    margin: 60px auto 20px auto;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: #333333;
    color: white;
    border-style: none;
}