body {
  justify-content: center;
  margin: 0;
  font-family: Arial;
}

#header {
  background-color: #606060;
  height: 48px;
  padding: 1em 0;
  border: 1px black solid;
}

#header h1 {
  margin: 0 10%;
  text-transform: capitalize;
}

#new-post {
  margin: 1em 10%;
}

.forms {
  margin: 1em 0;
}

label {
  display: block;
  text-transform: capitalize;
  font-weight: bold;
}

#posted {
  margin: 1em 10%;
}

#posted h1, p {
  margin: 0;
  padding: 6px;
}

#posted p {
  padding: 0 16px;
  margin-bottom: 6px;
}

#title {
  width: 20%;
}

#content {
  height: 5em;
  width: 100%;
}

.posted {
  border: 1px solid black;
  margin: 1em 0;
}

#button {
  border-radius: 7px;
  width: 100px;
  border: 1px solid;
}

