* {
    margin: 0;
    padding: 0;
}

.info-panel {
    background-color: #ffffff;
    margin: 20px auto;
    width: 500px;
    height: 140px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
}

.country {
    display: flex;
    font-weight: normal;
    font-size: 16px;
}

.temp {
    display: flex;
}

.sky {
    display: flex;
    margin-right: 30px;
}

img {
    width: 90px;
    height: 90px;
    object-fit: fill;
}