.container {
    background-color: #FFD62A;
    display: flex;
    height: 400px;
    justify-content: space-between;
    padding: 0px;
}

.item {
    align-self: center;
    background-color: #B02AFF;
    width: 100px;
    height: 100px;
}

li {
    list-style: none;
}