* {
    margin: 0;
    padding: 0;
    color: #34495E;
    font-family: 'Lato', sans-serif;
}

.name {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

.forecast {
    display: flex;
    margin: 20px auto;
    width: max-content;
    flex-direction: column;
}

.forecast-panels {
    display: flex;
}