<div class="info-panel">
    <p class="name">{{ response.city.name }}</p>
    <div class="forecast">
        <div class="day">
            <div class="sky"><img class="sky" src="../../../assets/{{ response.list[0].weather[0].main }}.png"></div>
            <p class="temp">{{ response.list[0].main.temp | number: '1.0-0'}}°C</p>
            <p class="time">{{ response.list[0].dt_txt}}</p>
        </div>
        <div class="day">
            <div class="sky"><img class="sky" src="../../../assets/{{ response.list[0].weather[0].main }}.png"></div>
            <p class="temp">{{ response.list[8].main.temp | number: '1.0-0'}}°C</p>
            <p class="time">{{ response.list[8].dt_txt}}</p>
        </div>
        <div class="day">
            <div class="sky"><img class="sky" src="../../../assets/{{ response.list[0].weather[0].main }}.png"></div>
            <p class="temp">{{ response.list[16].main.temp | number: '1.0-0'}}°C</p>
            <p class="time">{{ response.list[16].dt_txt}}</p>
        </div>
        <div class="day">
            <div class="sky"><img class="sky" src="../../../assets/{{ response.list[0].weather[0].main }}.png"></div>
            <p class="temp">{{ response.list[24].main.temp | number: '1.0-0'}}°C</p>
            <p class="time">{{ response.list[24].dt_txt}}</p>
        </div>
        <div class="day">
            <div class="sky"><img class="sky" src="../../../assets/{{ response.list[0].weather[0].main }}.png"></div>
            <p class="temp">{{ response.list[32].main.temp | number: '1.0-0'}}°C</p>
            <p class="time">{{ response.list[32].dt_txt}}</p>
        </div>
    </div>
</div>