*,html{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: consolas;
}

body {
  background-image: url(assets/background.png);
  justify-content: center;
  overflow: scroll;
}

.head-nav {
  background-color: #333333;
  text-transform: uppercase;
  height: 64px;
  margin-bottom: 32px;
}

.head-nav .nav-links {
  margin: 1em 10% 1em 0;
  float: right;
}

.nav-link {
  font-size: 24px;
  margin: 1em;
}
.head-nav .nav-icon {
  float: left;
  margin-left: 10%;
  margin-top: 16px
}

a {
  color: #ff0099;
}


#intro {
  padding: 32px 10%;
}

#intro h1{
  font-size: 32px;
  margin-bottom: 32px;
  font-family: 'Titillium Web', sans-serif;
}

#intro h2 {
  color: #FF0099;
  font-size: 20px;
  padding-bottom: 24px;
}
p {
  margin-bottom: 8px
}

hr {
  display: block;
  margin: 24px auto;
  border-style: dashed;
  border-width: 1px;
  width: 16px;
  
}

#wiki {
  padding: 0px 10%;
  margin: 3px;
}

#wiki h2 {
  font-size: 24px;
}
#wiki h3 {
  font-size: 20px;
  padding: 20px 0;
}

#wtitle {
  text-align: center;
}